@{
    Layout = "~/Views/Shared/NormaLayout.cshtml";
}
<h2 style="text-align:center"> Giỏ hàng </h2>
<a href="" style="font-size:20px">Tiếp tục mua hàng</a>
<table class="table">
    <thead>
        <tr>
            <th>tên sản phẩm</th>
            <th>hình sản phẩm</th>
            <th>giá</th>
            <th>số lượng</th>
            <th>thành tiền</th>
            <th></th>
        </tr>
        <a href="~/Views/_ViewStart.cshtml"></a>
    </thead>
    <tbody>
        <tr>
            <td colspan="6" style="color:red;font-size:15px">
                chưa có sản phẩm nào................
            </td>
        </tr>
    </tbody>
</table>

